/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
   
    background: #fff;
    
   
    margin-bottom: 40px;  
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}
/* nav{
    float: right;
} */

.logo111{
    
    height: 67px;
    width: 67px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
ul.nav11 li{
    float: right;
    margin-left: 10px;
}
.hom1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 12px;
}
ul.nav11{
    padding-right: 20px;
    margin-top: -10px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.nav-item{
    margin-top: 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

.sidebar-header{
    font-size: 50px;
    justify-content: center;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #3d56c4;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
}










.cardDet1{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    color: black;
}
a{
    text-decoration: none;

}
 .gallery1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
    align-items: center;
    margin-right: 70px ;
    /* margin-left: -5px; */
    background-color: rgb(222, 222, 222);
    margin-top: 50px;
 }
 .ca1{
    width: 35%;
    height: 240px;
    margin: 40px;
    
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,025),0 10px 10px rgba(0,0,0,22) ;
    transition: 0.4s;
    background: #d9c4f5;

 }

 @media(max-width:320px){
    .ca1{
        width: 80%;
    }
 }

 .ca1:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0,16),0 3px 6px rgba(0,0,0,0,23);
    transform: translate(0px, -8px);

 }
.cardimg1{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 50%;

}



ul.message11{
    display: inline;
    text-decoration: none;
    /* float: right; */
    /* margin-left: 20px; */
   
}
ul.message11 li{
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* text-decoration: none; */
    
}
.message1{
    align-items: center;
    justify-content: center;
    
}
.newm1{
    font-size: 35px;
    padding-right: 60px;
}
.fa{
    font-size: 26px;
    transition: .4s;
}



.ca15{
    width: 290px;
    height: 100px;
    margin: 15px;
    margin-bottom: 4px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 10px;
    /* cursor: pointer; */
    padding-top: 20px;
    
    transition: 0.4s;
    background: #419cc3;
 }
 .cardimg15{
    padding-left: 5px;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    float: left;
    margin-top: 2px;

}
h3.cardDet15{
   
    color: black;
}
.gallery15{
    margin-bottom: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    justify-content: center;
    /* background-color:rgb(222, 222, 222); */
    /* margin-right: 70px ; */
    /* margin-left: -80px; */
    /* margin-top: 100px; */
 }


 .flightchart{
    width: 80%;
    
 }

